<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsPostgres</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'menu' %>
  </head>

  <body class="bg-gray-200">
    <nav class="p-5 bg-white shadow">
      <div>
        <span class="text-2x1 font-bold cursor-pointer">
          <img class="h-10 inline" src="https://pbs.twimg.com/media/ExlKcKxWYAM3eoW?format=jpg&name=large" alt="Icon">
          ItaloCobains Blog
        </span>
        https://www.youtube.com/watch?v=X6CsbhSVUEc
      </div>
      
      <ul>
      
      </li>
    </nav>




    <header class="bg-gray-800 text-white p-4 flex items-center justify-between">
      <div class="text-lg font-bold">
        ItaloCobains Blog
      </div>

      <!-- Menu responsivo -->
      <div class="flex items-center">
        <div class="sm:hidden">
          <button data-action="click->menu#toggleMenu" class="text-white">
            <!-- Ícone de três tracinhos -->
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>

        <!-- Links no menu responsivo -->
        <div id="menu" class="hidden sm:flex items-center ml-4">
          <% if user_signed_in? %>
            <!-- Se o usuário estiver logado -->
            <div class="mr-4">
              Logado como <strong><%= current_user.name %></strong>.
            </div>
            <%= link_to 'Editar perfil', edit_user_registration_path, class: 'text-white mr-4' %>
            <%= link_to 'Sair', destroy_user_session_path(@current_user), class: 'text-white' %>
          <% else %>
            <!-- Se o usuário não estiver logado -->
            <%= link_to 'Registrar', new_user_registration_path, class: 'text-white mr-4' %>
            <%= link_to 'Entrar', new_user_session_path, class: 'text-white' %>
          <% end %>
        </div>
      </div>
    </header>

    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
