<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>TryTech - Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'menu' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.css" integrity="sha512-cWNyKF0hYPJEB5JRAMxPlLqj+gu1XnhVE75ZXnPkFPbdTsBnsilQreWfnhWfn1Xwk77I8Q0wbJeuiaZiAAgszg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-gray-200">
    <%= render partial: "shared/notifications", locals: { message: flash[:notice] } %>
    <%= render partial: "dashboard/shared/header", locals: {user: @user} %>
    <%= render "dashboard/shared/sidebar" %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.js" integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
